.cartContainer {
  background: white;
  padding: 40px 110px;
  width: 80%;
  > h2 {
    margin: 0;
  }
  > .cartList > .cartItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0px 0px 0px;
  }
  .cartHeader {
    display: flex;
    justify-content: space-between;
    > .cartHeaderLeft {
      display: flex;
      > h2 {
        margin: 0;
        padding: 0px 0px 0px 10px;
      }
    }
    > .cartHeaderRight {
      display: flex;
      align-items: center;
      cursor: pointer;
      > img {
        padding: 0px 10px 0px 0px;
      }
    }
  }
  .cartItemLeft {
    display: flex;
    align-items: center;
    > .cartItemInfo {
      padding: 0px 0px 0px 15px;
      > h4 {
        margin: 0;
      }
    }
  }
  .cartItemRight {
    display: flex;
    justify-content: space-between;
    width: 50%;
    > img {
      cursor: pointer;
    }
    > .cartItemRightCounter {
      display: flex;
      align-items: center;
      > img {
        cursor: pointer;
      }
      > h4 {
        padding: 0px 20px;
      }
    }
  }
  &BackToHomeBtn {
    height: 45px;
    width: 150px;
    cursor: pointer;
    background: rgb(228, 228, 228);
    text-align: center;
    align-items: center;
    border-radius: 30px;
    border: 0px;
    color: black;
    margin-top: 40px;
  }
}

.cartPlugContainer {
  text-align: center;
  > h3 {
    padding-top: 30px;
  }
  > .cartPlugText {
    padding-bottom: 30px;
  }
}
