.pizzaCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px 0px 10px;
  background: white;
  width: 25%;
  > img {
    width: 200px;
    height: 200px;
  }

  .pizzaCardBtns {
    width: 100%;
    background: rgb(228, 228, 228);
    border-radius: 10px;
  }

  .sizesContainer {
    display: flex;
    justify-content: space-around;
    padding: 0px 0px 0px 5px;
    .sizeItem {
      background: white;
      width: 100%;
      text-align: center;
      border-radius: 5px;
      margin-right: 5px;
      margin: 0px 5px 5px 0px;
      cursor: pointer;
      padding: 5px;
      height: 30px;
      &-active {
        background: black;
        color: white;
        border-radius: 5px;
        margin: 0px 5px 5px 0px;
        width: 100%;
        height: 30px;
        padding: 3px;
        cursor: pointer;
        text-align: center;
      }
    }
  }
  .typesContainer {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 5px 0px 0px 5px;
    > .typeItem {
      background: white;
      border-radius: 5px;
      margin: 0px 5px 5px 0px;
      width: 100%;
      height: 30px;
      padding: 3px;
      cursor: pointer;
      &-active {
        background: black;
        color: white;
        border-radius: 5px;
        margin: 0px 5px 5px 0px;
        width: 100%;
        height: 30px;
        padding: 3px;
        cursor: pointer;
      }
    }
  }
}

.pizzaCardBottomContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.addToCartBtn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border: 2px solid orange;
  border-radius: 20px;
  padding: 5px;
  width: 140px;
  cursor: pointer;
}
