.header {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 130px;
  background: white;
  align-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 0px 50px 0px 50px;

  &-symbols {
    display: flex;
    align-items: center;

    > a > img {
      margin-right: 30px;
    }
  }

  a {
    text-decoration: none;
    outline: none;
  }
  &-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 45px;
    width: 150px;
    cursor: pointer;
    background-color: orange;
    border-radius: 30px;
    color: black;
    border: none;
    &:focus {
      outline: none;
    }
    &-total-price {
      width: 50%;
      height: 50%;
      text-align: center;
    }
    &-counter-img {
      display: flex;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      border-left: 2px solid rgb(0, 0, 0);
      width: 50%;
      height: 100%;
      > div {
        padding-right: 5px;
      }
    }
  }
}
