.sort-popup {
  background: white;
  padding: 0;
  position: absolute;
  margin-top: 8px;
  right: 198px;
  width: 175px;
  border: 1px solid none;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
  &-hidden {
    display: none;
  }
}

.rotated {
  transform: rotate(180deg);
}
.sort-container {
  width: 276px;
}

ul {
  padding: 0;
  margin: 0;
  z-index: 0;
  > li {
    list-style-type: none;
    cursor: pointer;
    padding: 0px 0px 0px 20px;
  }
}
.sortByItem {
  &-active {
    background: rgb(228, 228, 228);
    position: relative;
  }
}

.sort-label > span {
  cursor: pointer;
}

.sort-label > img {
  transform: rotate(180deg);
}
